/files/
/Bonus Examples/average_from_file.py
/Bonus Examples/feet_to_meter.py
/Bonus Examples/generate_whole_number.py
/Section_Files_quiz.py
/Bonus Examples/Sentence_Maker.py
/test.py
/TodoList.py
/simple_game_with_json/data.json
/simple_game_with_json/SimpleGameWithJason.py
/simple_game_with_json/
